# Importing data into a pandas library

In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv("http://bit.ly/uforeports")

# fetching top 5 rows

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

# get columns

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

# Method 1 to rename columns in a dataframe

In [8]:
ufo.rename(columns={'Colors Reported':'Colors_Reported','Shape Reported':'Shape_Reported'},inplace=True)

In [10]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

# Method 2

In [15]:
ufo_cols=['city','colors_reported','shape_reported','state','time']
ufo=pd.read_csv("http://bit.ly/uforeports",names=ufo_cols,header=0)

In [16]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

# Method 3

In [17]:
ufo=pd.read_csv("http://bit.ly/uforeports")

In [18]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [19]:
ufo.columns.str.replace(' ','_')

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')